.requestForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.requestForm h2 {
    text-align: center;
}

.requestForm textarea {
    height: 100px;
}

.requestFormButton {
    width: 10em;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: rgb(192, 110, 192);
    border-radius: 0.2em;
    color: #f8f7f5;
    cursor: pointer;
    font-size: 13px;
    transition: all ease 0.2s;
}

.requestFormButton:hover {
    background-color: rgb(150, 81, 150); 
}