.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: hidden;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navLogo {
    max-width: 50%;
    height: 50%;
    display: block;
}