.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    padding: 1rem;
    color: rgb(88, 88, 109);
    text-decoration: none;
    border-bottom: black;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navLogo {
    width: 50%;
    height: 60%;
    margin-top: 0.1rem;
}

.navbar_link {
    text-decoration: none;
    color: rgb(105, 104, 128);
    transition: all ease 0.2s;
    font-size: 20px;   
}

.navbar_link:hover {
    color: rgb(68, 67, 83);
}